<article class="h-entry">
{% unless page.no_header %}
  <header>
    {% if index %}
      <h2 class="entry-title p-name"><a href="{{ site.root_url }}{{ post.url }}" class="u-url">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h2>
      <p class="meta">
        {% include post/date.html %}
      </p>
    {% else %}
      <h1 class="entry-title p-name">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    {% endif %}
    {% unless page.meta == false %}
      <p class="meta">
        {% if site.disqus_short_name and page.comments != false and site.disqus_show_comment_count == true %}
         | <a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread">Comments</a>
        {% endif %}
      </p>
    {% endunless %}
  </header>
{% endunless %}
{% if index %}
  <div class="entry-content p-summary">{{ content | excerpt }}</div>
  {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
  {% if excerpted == 'true' %}
    <footer>
      <a rel="full-article" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
    </footer>
  {% endif %}
{% else %}
  <div class="entry-content e-content">{{ content }}</div>
  <p class="meta">
    {% include post/author.html %}
    {% include post/date.html %}
    {% include post/categories.html %}<br/>
    <a href="{{ root_url }}{{ page.url }}" class="u-url">Permalink</a> 
    {% if page.syndication %}| <span>Syndication links: {% for syn in page.syndication %}
     <a rel="syndication" class="u-syndication"
      href="{{ syn }}">{{ forloop.index }} <i class="icon-external-link"></i></a> {% endfor %}
    </span>{% endif %}
  </p>
{% endif %}
</article> 