{% capture categories %}{{ page.categories | category_links | size }}{% endcapture %}
{% capture title %}{{ page.alt_title | default: page.title | default: site.title | markdownify | strip_html }}{% endcapture %}

<header class="intro">
  {% if page.image %}
    {% assign intro_image = page.image.path | default: page.image %}
    {% unless intro_image contains '://' %}
      {% assign intro_image = intro_image | relative_url %}
    {% endunless %}
    {% assign intro_image = intro_image | escape %}
    <div class="intro-image">
      <img src="{{ intro_image }}" alt="{{ page.title }}">
    </div>
  {% endif %}

  <div class="inner">
    <div class="intro-text">
      {% if page.collection == "notes" %}
        <h1 class="intro-title">{% include author %}
          {% if author_name %}<span class="byline-item"><a href="/notes/"><span class="icon">
              {% if author_picture %}
                <img src="{{ author_picture }}" class="u-photo" alt="{{ author_name }}"/>{% else %}{% include icon-user.svg %}{% endif %}</span>{{ author_name }}'s Notes</a></span>
            {% endif %}</h1>
      {% else %}
        <h1 class="intro-title p-name">{% if page.pagination %}<span class="p-author">Mark A. Matienzo</span>'s {{ title | capitalize }}{% else %}{{ title }}{% endif %}</h1>
      {% endif %}
      {% if page.sub_title %}
        <p class="intro-subtitle p-summary">{{ page.sub_title | markdownify | strip_html }}</p>
      {% endif %}
      {% unless page.collection == "notes"%}{% include page-meta %}{% endunless %}
      {% if page.introduction %}
        <div class="intro-more p-summary">
          {{ page.introduction | markdownify }}
        </div>
      {% elsif page.pagination.collection == "posts" %}
        <div class="intro-more p-summary">
          Longer-form articles, like blog posts or presentations. They are distinguished from
          shorter-form <a href="/notes/">notes</a>.
        </div>
      {% elsif page.pagination.collection == "notes" %}
        <div class="intro-more p-summary">
          Shorter-form content, like social media posts, links, etc. They are
          distinguished from longer-form <a href="/posts/">posts</a>.
        </div>
      {% endif %}
      {% if page.actions %}
        <ul class="intro-actions">
          {% for action in page.actions %}
            <li><a href="{{ action.url }}" class="btn">{% if action.icon %}<span class="icon">{% include {{ action.icon | prepend: 'icon-' | append: '.svg' }} %}</span>{% endif %}{{ action.label }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</header>
