---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$accent-color: #039;
$base-font-family: "Alegreya Sans", sans-serif;
$monospace-font-family: "Space Mono", "Inconsolata", monospace;

// Theme skin
@import "basically-basic/themes/{{ site.data.theme.skin | default: 'default' }}";

@import "basically-basic";

$btn-small-min:  ($base-font-size / $modular-scale-1 / $modular-scale-1 / $modular-scale-1 / $modular-scale-1);
$btn-small-max:  ($base-font-size / $modular-scale-1 / $modular-scale-1 / $modular-scale-1 / $modular-scale-1);

.btn-small {
  @include fluid-type($min-vw, $max-vw, $btn-small-min, $btn-small-max);
  padding: 0.25em 0.25em;
}

.entry.entry-note, .entry-note .intro { padding-bottom: 0; }

.entry-meta .h-card .u-photo { border-radius: 0.25em; }

// .h-card .icon {
//   position: relative;
// }
//
// .h-card .icon:before {
//   content: "";
//   display: block;
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   background: rgba(0,51,153,0.9);
//   transition: all .3s linear;
// }
