---
layout: default
---

{% include page-intro.html %}
<main id="main" class="page-content" aria-label="Content">
  <div class="inner h-card" id="mark">
    <div class="entry-wrap">
      <div class="entry-content p-note">
        {{ content }}
      </div>
      <aside class="entry-sidebar">
        {% include author %}
        {% if author_picture %}
        <div class="author-picture-wrap">
          <img class="author-picture u-photo" src="{{ author_picture }}" alt="{{ author_name }}">
        </div>
        {% endif %}
      </aside>
    </div>

    {% include footer.html %}
  </div>
</main>
