---
layout: default
---
{% capture categories %}{{ page.categories | category_links | size }}{% endcapture %}
<div class="h-entry {% unless cat == '0' %}entry-{{ page.categories | join: ' entry-' }}{% endunless %}">
{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <article class="entry-wrap">
      <div class="entry-content e-content">
        {% if page.collection == "notes" %}
        {% capture content_size %}{{ content | strip | size }}{% endcapture %}
        {% if page.title != '' and content_size != "0" %}<p>{{ page.title }}</p>{% endif %}
        {% unless content_size == "0" %}{{ content }}{% endunless %}
        {% else %}{{ content }}{% endif %}
      </div>
      {% if site.disqus.shortname %}
        {% include disqus_comments.html %}
      {% endif %}
    </article>


    <nav class="pager">
      <ul>
        {% if page.next.url %}
          <li><a href="{{ page.next.url }}" title="Newer Post: {{ page.next.title }}" class="previous"><span class="icon icon--arrow-left">{% include icon-arrow-left.svg %}</span> {{ site.data.theme.t.newer | default: 'Newer' }}</a></li>
        {% endif %}
        {% if page.previous.url %}
          <li><a href="{{ page.previous.url }}" title="Older Post: {{ page.previous.title }}" class="next">{{ site.data.theme.t.older | default: 'Older' }}<span class="icon icon--arrow-right"> {% include icon-arrow-right.svg %}</span></a></li>
        {% endif %}
      </ul>
    </nav>
    {% include footer.html %}
  </div>
</main>
</div>
