@media print {
    body {
        padding-top: 0px;
        p {
            font-family: $body-font;
            line-height: 18px;
            margin: 0 0 8px;
        }
        header, footer, .navbar {
            display: none !important;
        }
        #main {
            #content {
                .page-header {
                    margin: 0;
                    padding: 0;
                    h1 {
                       font-size: 24px;
                       line-height: 1em !important;
                    }
                }
                h1 {
                    line-height: 1em !important;
                }
                h2, h3, h4, h5, h6 {
                    margin-top: 0.1em;
                    margin-bottom: 0.1em;
                    //line-height: 1em !important;
                }
                h3 {
                    font-size: 24px;
                }
                span.label {
                    display: none !important;
                }
                .unpublished {
                    display: none !important;
                }
                .subnav {
                    display: none !important;
                }
                blockquote {
                    padding: 0 0 0 15px; 
                    p {
                        font-size: 12px;
                        line-height: 14px;
                    }
                }
                ul {
                    margin: 0 0 7px 25px;
                    li {
                        line-height: 18px;
                    }
                }
                .page-break-before {
                    page-break-before: always !important;
                }
            }
        }
    }
}